In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

216155

### What are the earliest two films listed in the titles dataframe?

In [10]:
t = titles.sort('year')
t.head(2)

                                                    title  year
165331                                         Miss Jerry  1894
85811   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [11]:
len(titles[titles.title == "Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [12]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [15]:
t = titles[titles.title == "Hamlet"]
t.sort()
t.head(1).year

5551    1948
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [18]:
titles[titles.title == "Treasure Island"].sort()

                  title  year
47794   Treasure Island  1920
90298   Treasure Island  1950
103774  Treasure Island  1973
166825  Treasure Island  1999
190968  Treasure Island  1985
191563  Treasure Island  1918
193106  Treasure Island  1934
213224  Treasure Island  1972

### How many movies were made in the year 1950?

In [20]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [21]:
len(titles[titles.year == 1960])

1464

### How many movies were made from 1950 through 1959?

In [22]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12124

### In what years has a movie titled "Batman" been released?

In [23]:
titles[titles.title == "Batman"].year

52216    1989
69533    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [25]:
len(cast[cast.title == "Inception"])

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [26]:
len(cast[(cast.title == "Inception") & cast.n.notnull()])

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
len(cast[(cast.title == "Inception") & cast.n.isnull()])

22

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [28]:
cast[(cast.title == "North by Northwest") & (cast.n.notnull())].sort('n')

,title,year,name,type,character,n
779792,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3111013,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1303049,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2799798,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
317950,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2707592,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1516847,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1139740,North by Northwest,1959,Martin Landau,actor,Leonard,8
2185574,North by Northwest,1959,Adam Williams,actor,Valerian,9
1619969,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
595596,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2050243,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
414637,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1349686,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
182520,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1238155,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [29]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort('n')

,title,year,name,type,character,n
1525728,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
290909,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
333466,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1310393,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2426674,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1295607,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [30]:
cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort('n')

          title  year                 name     type          character   n
290910   Sleuth  2007        Michael Caine    actor             Andrew   1
1156356  Sleuth  2007             Jude Law    actor               Milo   2
1615159  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
230704   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
333467   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2426673  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2983947  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [31]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [32]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [33]:
len(cast[cast.title == "Hamlet"])

299

### How many people have played an "Ophelia"?

In [35]:
len(cast[cast.character == "Ophelia"])

96

### How many people have played a role called "The Dude"?

In [36]:
len(cast[cast.character == "The Dude"])

16

### How many people have played a role called "The Stranger"?

In [37]:
len(cast[cast.character == "The Stranger"])

192

### How many roles has Sidney Poitier played throughout his career?

In [38]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [39]:
len(cast[cast.name == "Judi Dench"])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [49]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year >= 1940) & (cast.year < 1950)].sort("year")

                   title  year        name   type    character  n
779789  My Favorite Wife  1940  Cary Grant  actor         Nick  2
779799    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [50]:
cast[(cast.name == "Cary Grant") & (cast.n == 1) & (cast.year >= 1940) & (cast.year < 1950)].sort("year")

,title,year,name,type,character,n
779814,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
779771,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
779816,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
779804,Suspicion,1941,Cary Grant,actor,Johnnie,1
779818,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
779795,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
779762,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
779787,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
779788,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
779796,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
779754,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
779791,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
779790,Night and Day,1946,Cary Grant,actor,Cole Porter,1
779793,Notorious,1946,Cary Grant,actor,Devlin,1
779810,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
779811,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
779786,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
779766,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
779775,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [51]:
len(cast[(cast.type == "actor") & (cast.year >= 1950) & (cast.year < 1960)])

148837

### How many roles were avilable for actresses in the 1950s?

In [52]:
len(cast[(cast.type == "actress") & (cast.year >= 1950) & (cast.year < 1960)])

54192

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [55]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

61643

### How many non-leading roles were available through from the beginning of film history through 1980?

In [58]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1053402

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [59]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

418279